header {
  background-color: var(--dark-blue);
  color: white;
}

.navtab a {
  color: white;
  font-size: large;
  font-weight: bold;
}

.fixed-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.mobile-Navbar {
  position: fixed;
  inset: 0;
  padding: 60px 20px 20px;
  background-color: var(--dark-blue);
  z-index: 99;
}

.mobile-Navbar .fa-xmark {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.mobile-Navbar ul {
  background-color: white;
  height: 100%;
  padding: 20px;
}

.mobile-Navbar a {
  color: black;
}

.mobile-Navbar a:hover,
.mobile-Navbar a.active-link {
  color: var(--dark-blue);
}
