<section class="footer pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 Squad-Details text-center mb-3">
        <h3>SquadFree</h3>
        <p>
          Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam
          excepturi quod.
        </p>
        <p>A108 Adam Street</p>
        <p>NY 535022, USA</p>
        <p><strong>Phone:</strong> +1 5589 55488 55</p>
        <p><strong>Email:</strong> info@example.com</p>
        <div class="icons d-flex gap-2 justify-content-center">
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-skype"></i>
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>

      <div class="col-lg-2 mb-3">
        <h6>Useful Links</h6>
        <p>> Home</p>
        <p>> About us</p>
        <p>> Services</p>
        <p>> Terms of service</p>
        <p>> Privacy policy</p>
      </div>

      <div class="col-lg-2 mb-3">
        <h6>Our Services</h6>
        <p>> Web design</p>
        <p>> Web development</p>
        <p>> Product Management</p>
        <p>> Marketing</p>
        <p>> Graphic design</p>
      </div>

      <div class="col-lg-4 mb-3 subscribe">
        <h6>Our Newsletter</h6>
        <p>
          Tamen quem nulla quae legam multos aute sint culpa legam noster magna
        </p>
        <form class="d-flex">
          <input type="text" /><button type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <p class="text-center mb-0 py-4">
      © Copyright Squadfree. All Rights Reserved
    </p>
  </div>
</section>
