.portfoliosection {
  padding: 60px 0;
}

.selection ul {
  background: #ecf5f9;
  padding: 10px 30px;
  border-radius: 50px;
}

.portfolio-images img {
  width: 100%;
}

.activetab {
  color: var(--dark-blue);
}

.quotes {
  font-size: 20px;
  color: var(--dark-blue);
  font-weight: bold;
}

.position-image img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.position-detail {
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.position-detail::before {
  content: "";
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.testimonial-section {
  background-color: #f4f9fc;
}

.position-image p {
  color: #999;
}
