<section class="teamsection">
  <div class="container">
    <h2 class="py-4 section-title text-center text-dark-blue">Team</h2>
    <p class="text-center pb-3">
      Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
      aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
      quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
      sit in iste officiis commodi quidem hic quas.
    </p>

    <div class="team-images">
      <div class="row">
        <div
          class="col-lg-4 single-member"
          *ngFor="let i of teamImage"
          style="margin-bottom: 100px"
        >
          <img [src]="i.img" />
          <div class="info text-center p-3">
            <h5 class="mb-3">{{ i.name }}</h5>
            <p>{{ i.position }}</p>
            <div class="d-flex justify-content-center gap-3">
              <div *ngFor="let social of i.socialMedia" class="social-media">
                <a [routerLink]="social.path"><i [class]="social.icon"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
